{% extends 'base.html' %}

{% block content %}

{% include 'include/_navbar.html' %}

<div class="container">
    <h2 class="mb-5" style="text-align: center;">The encryption service</h2>

    <div class="row">
        <div class="col-md-4">
            <h4 class="mb-3" style="text-align: center;">User guide</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis debitis similique error laboriosam nihil voluptates ad officia, cupiditate perferendis praesentium architecto eveniet cum quia, porro adipisci est minima ipsa inventore.
            Error, deserunt, natus molestiae accusantium quae, numquam adipisci illum ipsum consectetur labore exercitationem facilis voluptates. Voluptatem amet delectus mollitia ipsam laborum, repudiandae quae totam consectetur maxime architecto explicabo in pariatur!
            Necessitatibus similique aut illum quae harum, voluptatibus reiciendis vitae atque doloribus eveniet. Aperiam asperiores eos quas, nam aliquam ut provident ducimus explicabo necessitatibus numquam porro, suscipit quo? Excepturi, iure aut.</p>
        </div>
        <div class="col-md-4">
            <h4 class="mb-3" style="text-align: center;">About program</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos recusandae repellat, voluptate non dicta perferendis in sapiente distinctio, dolores architecto dolore voluptates, aut omnis corporis! Iusto cupiditate odit cumque autem.
            Minus quisquam natus deleniti quidem, delectus amet fuga recusandae laudantium ea eligendi quam. Amet est perspiciatis ex modi obcaecati corrupti sequi sit dolorem cum, autem minima porro, laboriosam facere unde?
            Beatae blanditiis consequatur ullam reprehenderit cum. Ipsum debitis totam quas libero hic. A maxime distinctio provident perferendis cupiditate sint quisquam dolor explicabo nesciunt tenetur magni, qui, obcaecati repellendus, iusto rem.</p>
        </div>
        <div class="col-md-4">
            <h4 class="mb-3" style="text-align: center;">About authors</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, reiciendis ducimus ut, et repudiandae deleniti ratione fuga, qui accusamus perspiciatis exercitationem hic repellendus facilis! Doloremque expedita modi aperiam libero! Voluptatem.
            Excepturi nemo, saepe eos recusandae voluptate nulla vitae velit repellat culpa, aperiam, unde maxime ea aut facilis et earum dolorem commodi quasi quam soluta provident rem enim architecto ipsa. Fuga.
            Obcaecati a, voluptatem quas eligendi repellat hic fugiat, consequatur distinctio repudiandae nostrum voluptatibus quos accusantium dolorum odit quaerat consectetur accusamus placeat expedita reprehenderit, quisquam delectus nihil veniam. Natus, sint nemo.</p>
        </div>
    </div>

</div>


{% include 'include/_footer.html' %}

{% endblock %}
