{% extends 'base.html' %}

{% block content %}

{% include 'include/_navbar.html' %}

<div class="container">
    <h2 class="mb-5" style="text-align: center;">The encryption service</h2>

    <div class="row">
        <div class="col-md-3">
            <h4 class="mb-3" style="text-align: center;">Про програму</h4>
            <p>Дана програма розроблена для швидшої і простішої побудови і роботи з бітовими картами. Програма являє собою веб-сервіс, з можливістю авторизації і історією операцій з бітовими мапами.</p>
        </div>
        <div class="col-md-4">
            <h4 class="mb-3" style="text-align: center;">Інструкція користувача</h4>
            <p>Для використання сервісу потрібно: провести <a href="{% url 'register_user' %}">авторизацію/реєстрацію</a></p>
            <p>На сторінці <a href="{% url 'create_picture' %}">Create picture</a> можна створити власну бітову карту для подальшої взаємодії. Доступні три методи створення бітової карти: Синусоїдальний, Круговий, Градієнт переходу</p>
            <p>Список усіх бітових мап доступний за посиланням: <a href="{% url 'pictures_list' %}">Pictures list</a></p>
            <p>За посиланням: <a href="{% url 'picture_action' %}">Останні дії</a> можна переглянути останні взіємодії з бітовими картами.</p>
        </div>
        <div class="col-md-5">
            <h4 class="mb-3" style="text-align: center;">Про авторів</h4>
            <p>Авторами даного проекту  є троє студентів 3 курсу Прикарпатського національного унверситету імені Василя Стефаника факультету математики та інформатика кафедри комп’ютенрих наук та інформаційних систем групи КН-31: </p>
                <b>Бардаль Ростислав Васильович</b><br>
                <b>Бойко Маркіян Мирославович</b><br>
                <b>Курман Денис Андрійович</b><br><br>
                
                Для зворотнього зв’язку писати одному із нас на телеграм: <br>
                <b>Ростислав Васильович:</b> <a href="https://t.me/Rostik79">@Rostik79</a> <br>
                <b>Маркіян Мирославович:</b> <a href="https://t.me/khronos3">@khronos3</a> <br>
                <b>Денис Андрійович:</b> <a href="https://t.me/subie">@subie</a> <br><br>
                
                <p> Автори доклали всіх зусиль для розробки даного проекту, якщо даний проект Вам допоміг будемо раді отримати від вас фітбек)</p>
        </div>
    </div>

</div>


{% include 'include/_footer.html' %}

{% endblock %}
