{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'include/_navbar.html' %}

<div class="container">
    <h2 class="mb-5" style="text-align: center;">Crypt/decrypt</h2>
    <form class="row" action="{% url 'picture_action' %}" method="POST">
        <div class="col-md-3 offset-md-1">
            <div style="display: flex; flex-direction: column; align-items: center;">
                {% for picture in pictures %}
                <div class="pictures mb-3" style="display: flex; align-items: center;">
                    <div>
                        <small>{{picture.width}}х{{picture.height}}</small><br>
                        {% if picture.last_action %}
                            <small>Last action at {{ picture.last_action_date }}</small>
                            <small>{{picture.last_action}} text: </small><br>
                            <small>{{ picture.last_action_result|slice:"20" }}</small>
                        {% else %}
                            <small>No actions yet</small>
                        {% endif %}
                    </div>
                    <div style="margin: 0 20px;">
                        <img src="{{picture.image.url}}" class="image-fluid" style="max-width: 100px;" alt="">
                    </div>
                    <div class="">
                        <input type="radio" name="image" class="form-check-input" value="{{picture.pk}}">
    
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
            <div class="col-md-6">
                {% csrf_token %}
                <p> Select action</p>
                {{ form.last_action }}
                <br>
                {{ form.text }}
                <br>
                <input type="submit" value="submit" class="btn-success">          
            </div>
            
        </form>
</div>


{% include 'include/_footer.html' %}

{% endblock %}
