{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'include/_navbar.html' %}

<div class="container">
    <h2 class="mb-5" style="text-align: center;">Picture information</h2>

    <div class="row">
        <div class="col-md-3">
            <img style="max-width: 100%;" src="{{ picture.image.url }}" class="img-fluid img-thumbnail" alt="{{picture.width}}x{{picture.height}}">
        </div>
        <div class="col-md-3">
            <h5 class="mb-2">Picture information:</h5>
            <p>Owner: <b>{{picture.owner.username}}</b></p>
            <p>Width: <b>{{picture.width}}</b></p>
            <p>Height: <b>{{picture.height}}</b></p>
            <p>Draw method: <b>{{picture.draw_method}}</b></p>
            <p>Date creation: <b>{{picture.created_at}}</b></p>
        </div>
        <div class="col-md-3">
            <h5 class="mb-2">Picture last action:</h5>
            {% if picture.last_action %}
                <p>Last action: <b>{{picture.last_action}}</b></p>
                <p>Text: <b>{{picture.last_action_result}}</b></p>
                <p>at {{picture.last_action_date}}</p>
            {% else %}
                <h4 class="disabled">No actions yet</h4>
            {% endif %}            
        </div>
        <div class="col-md-3">
            <h5 class="mb-2">Encrypt, decrypt this picture</h5>
            <form action="{% url 'show_picture' pk=picture.pk %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Submit action">
            </form>
        </div>
    </div>
    
</div>


{% include 'include/_footer.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static "crypt/js/action.js" %}"></script>
{% endblock scripts %}
