{% extends 'base.html' %}

{% block content %}

{% include 'include/_navbar.html' %}

<div class="container">
    <h2 class="mb-5" style="text-align: center;">Picture information</h2>

    <div class="row">
        <div class="col-md-5">
            <img style="max-width: 400px;" src="{{ picture.image.url }}" class="img-fluid img-thumbnail" alt="{{picture.width}}x{{picture.height}}">
        </div>
        <div class="col-md-4">
            <p>Owner: <b>{{picture.owner.username}}</b></p>
            <p>Width: <b>{{picture.width}}</b></p>
            <p>Height: <b>{{picture.height}}</b></p>
            <p>Draw method: <b>{{picture.draw_method}}</b></p>
            <p>Date creation: <b>{{picture.created_at}}</b></p>
        </div>
        <div class="col-md-3">
            {% if picture.last_action %}
                <p>Last action: <b>{{picture.last_action}}</b> text: {{last_action_result}}</p>
                <p>at {{picture.last_action_date}}</p>
            {% else %}
                <h4 class="disabled">No actions yet</h4>
            {% endif %}
        </div>
    </div>
    
</div>


{% include 'include/_footer.html' %}

{% endblock %}
